@import url('https://fonts.googleapis.com/css?family=Sofia');

body {
  background-image: url("/background-rick-and-morty.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Sofia",sans-serif;
}

.App {
  text-align: center;
  margin: auto;
}

.App h1 {
  color: white;
  font-size: 70px;
  font-family: "Sofia",sans-serif;
  text-shadow: 3px 3px 3px #ababab;
}

/* Card */
.img-center {
  position: relative;
  text-align: center;
}

.text-on-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
}

.cardlist-container h3{
  margin-top: 1%;
  color: white
}

/* SearchBox */

.input-container {
  width: 25%;
  display: flex;
  border-radius: 50px;
  margin: auto;
  background-color: white;
}

.search-input {
  border-radius: 50px;
  background-color: #fff;
  padding: 1em;
  width: 100%;
  border: none;
}

.search-input:focus {
  outline: none !important;
}

.search-btn {
  color: white;
  padding: 12px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: aquamarine;
  margin-top: 3px;
  margin-right: 3px;
}


/* Comparision */

.compare-btn {
  margin-top: 10px;
  width: 15%;
  padding: 10px !important;
  border-radius: 20px !important;
  background-color: rgb(4, 155, 4) !important;
  font-weight: bold !important;
  border: none !important;
}

.model-body-container {
  margin: auto;
  text-align: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 990px) {
  .input-container {
    width: 80%;
  }
  .compare-btn {
    width: 60%;
  }
}